<launch>
    <arg name ="init_pose" value="-x 0 -y 0 -z 1 -R 0 -P 0 -Y 0"/>

    <arg name="model" default="$(find apex_description)/urdf/quad_robo.urdf.xacro"/>
    <arg name="world" default="empty_world"/>

    <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="gui" value="true"/>
        <arg name="headless" value="false"/>
        <arg name="debug" value="true"/>
        <arg name="world_name" value="$(arg world)"/>
    </include>

    <node
        name="tf_footprint_base"
        pkg="tf"
        type="static_transform_publisher"
        args="0 0 0 0 0 0 base_link base_footprint 40" />

    <node pkg="gazebo_ros" type="spawn_model" name="spawn_model"
          args="$(arg init_pose) -unpause -urdf -model robot -param robot_description"
          output="screen" respawn="false"/>
    
    <node
          name="fake_joint_calibration"
          pkg="rostopic"
          type="rostopic"
          args="pub /calibrated std_msgs/Bool true" />
</launch>
